<div class="password-change">
    <div ng-show="isEditing">
        <input type="password" ng-model="password" placeholder="Set Password"/>
        <input type="password" ng-model="confirmPassword" placeholder="Set Password"/>
        <button ng-class="inputClass($index)" class="pure-button">Confirm</button>
        <button ng-class="inputClass($index)" class="pure-button" ng-click="doneEditing()">Cancel</button>
    </div>
    <button ng-show="!isEditing" class="pure-button"
            ng-class="buttonClass($index)"
            ng-click="isEditing = true">Change Password
    </button>
</div>